*{
    /* border: 1px solid white; */
    background-color: black;
    color: white;
    font-family: 'Orbitron', sans-serif;
 }
 .header{
    text-align: center;
    height: auto;;
 }
 .rps-computer, .rps-player{
    height: auto;
    border-color: #8b0000;
    margin: auto;
    text-align: center;
    /* border: 1px solid white; */
  
 }
 .rps-row-title{
    padding:  10px;
    font-size: 1.5em;
 }
 .rps-row{
  
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
  
 }
 .rps-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: white;
 }
 .rps-c-cell{
    height: 200px;
    width: 200px;
    font-size: 100px;
 }
 .rps-p-cell{
    height: 100px;
    width: 100px;
    font-size: 50px;
 }
 .rps-cell:hover{
    background-color: white;
    box-shadow: 5px 10px  gainsboro;
 }
 .score{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
 }
 .score-box{
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    justify-content: space-around;
 }
 .score-caption{
    font-size: 20px;
 }
 #hidden{
    display: none;
 }
 #msg-box{
  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 3em;
  
 }
 .play-again{
    display: flex;
    margin: 30px;
    align-items: center;
    justify-content: center;
  
 }
 .play-again-btn{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    height: 40px;
    width: 100px;
    border: 3px solid white;
    border-radius: 5px;
 }
 .play-again-btn:hover{
    background-color: white;
    color: black;
 }
 .footer{
    text-align: center;
    font-size: 0.8em;
    height: auto;
    padding: 2%;
 } 